<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="topnav">
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('display_movies')}}">Movies</a>
        <div class="topnav-right">
            <a href="{{url_for('login_page')}}">Log In</a>
        </div>

        
    </div>     
</div>
{% if current_user.is_authenticated %}
            <p> hi! </p>
        {% else %}
            <p> no</p>
        {% endif %}
    {% block content %}
    {% endblock %}
</body>